@model Mohkazv.Library.WebApp.Models.Book

@{
    ViewData["Title"] = "افزودن کتاب";
}

<h1>@ViewData["Title"]</h1>

<hr />
<form asp-controller="Books" asp-action="Create" class="row fa-num">
    <div class="col-12 col-md-6">
        <div class="form-floating mb-3">
            <input asp-for="Name" class="form-control" placeholder="@Html.DisplayNameFor(model => model.Name)">
            <label asp-for="Name"></label>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-floating mb-3">
            <input asp-for="Isbn" class="form-control" placeholder="@Html.DisplayNameFor(model => model.Isbn)">
            <label asp-for="Isbn"></label>
            <span asp-validation-for="Isbn" class="text-danger"></span>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-floating mb-3">
            <select asp-for="PublisherId" class="form-control" asp-items="ViewBag.PublisherId">
                <option disabled selected>انتخاب کنید...</option>
            </select>
            <label asp-for="PublisherId"></label>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-floating mb-3">
            <input asp-for="PublishInformation" class="form-control" placeholder="@Html.DisplayNameFor(model => model.PublishInformation)">
            <label asp-for="PublishInformation"></label>
            <span asp-validation-for="PublishInformation" class="text-danger"></span>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-floating mb-3">
            <select asp-for="DdcId" class="form-control" asp-items="ViewBag.DdcId">
                <option disabled selected>انتخاب کنید...</option>
            </select>
            <label asp-for="DdcId"></label>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-floating mb-3">
            <input asp-for="TypeId" class="form-control" placeholder="@Html.DisplayNameFor(model => model.TypeId)">
            <label asp-for="TypeId"></label>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-floating mb-3">
            <select asp-for="LanguageId" class="form-control" asp-items="ViewBag.LanguageId" placeholder="@Html.DisplayNameFor(model => model.Language)">
                <option disabled selected>انتخاب کنید...</option>
            </select>
            <label asp-for="LanguageId"></label>
        </div>
    </div>
    <div class="col-12">
        <div class="form-floating mb-3">
            <textarea class="form-control" asp-for="Description" style="height: 100px" placeholder="توضیحاتی بنویسید..."></textarea>
            <label asp-for="Description"></label>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
    <div class="mb-2">
        <a href="#" class="btn btn-light border my-2 js-history-back">
            <i class="bi bi-arrow-right"></i>
            بازگشت
        </a>
        <a asp-controller="Books" asp-action="Index" class="btn btn-light border my-2">
            <i class="bi bi-list"></i>
        </a>
        <button type="submit" class="btn btn-primary">افزودن</button>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
