@model Mohkazv.Library.WebApp.Models.Book

@{
    ViewData["Title"] = $"حذف کتاب «{Model.Name}»";
    var imagePath = Model.CoverPath;
}

<h1>@ViewData["Title"]</h1>

<div class="row fa-num">
    <div class="col-12 col-md-6">
        <div class="form-floating mb-3">
            <input asp-for="Name" class="form-control" placeholder="@Html.DisplayNameFor(model => model.Name)" disabled>
            <label asp-for="Name"></label>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-floating mb-3">
            <input asp-for="Isbn" class="form-control" placeholder="@Html.DisplayNameFor(model => model.Isbn)" disabled>
            <label asp-for="Isbn"></label>
            <span asp-validation-for="Isbn" class="text-danger"></span>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-floating mb-3">
            <select asp-for="PublisherId" class="form-control" asp-items="ViewBag.PublisherId" disabled>
                <option disabled selected>انتخاب کنید...</option>
            </select>
            <label asp-for="PublisherId"></label>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-floating mb-3">
            <input asp-for="PublishInformation" class="form-control" placeholder="@Html.DisplayNameFor(model => model.PublishInformation)" disabled>
            <label asp-for="PublishInformation"></label>
            <span asp-validation-for="PublishInformation" class="text-danger"></span>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-floating mb-3">
            <select asp-for="DdcId" class="form-control" asp-items="ViewBag.DdcId" disabled>
                <option disabled selected>انتخاب کنید...</option>
            </select>
            <label asp-for="DdcId"></label>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-floating mb-3">
            <input asp-for="TypeId" class="form-control" placeholder="@Html.DisplayNameFor(model => model.TypeId)" disabled>
            <label asp-for="TypeId"></label>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-floating mb-3">
            <select asp-for="LanguageId" class="form-control" asp-items="ViewBag.LanguageId" placeholder="@Html.DisplayNameFor(model => model.Language)" disabled>
                <option disabled selected>انتخاب کنید...</option>
            </select>
            <label asp-for="LanguageId"></label>
        </div>
    </div>
    <div class="col-12 my-3">
        <p>نویسنده(گان):</p>
        <div id="authors-list">
            @if (Model.BookAuthors != null && Model.BookAuthors.Any())
            {
                foreach (var bookAuthor in Model.BookAuthors)
                {
                    <div class="alert alert-secondary border alert-dismissible fade show d-inline-block mx-2">
                        <input class="list-item d-none" name="AuthorNames[]" value="@bookAuthor.Author.FullName">
                        <span>@bookAuthor.Author.FullName</span>
                    </div>
                }
            }
        </div>
    </div>
    <div class="col-12">
        <div class="mb-3">
            <div class="row bg-light rounded border">
                <div class="col-12 col-sm-6 col-md-9">
                    <div class="p-2 text-muted">
                        <b>تصویر کتاب</b>
                        <hr class="w-50" />
                        در صورت تمایل به درج تصویر کتاب، در هنگام ویرایش تصویری منطبق با شرایط زیر انتخاب کنید:
                        <ul>
                            <li>
                                حجم تصویر تا سقف
                                <span class="text-danger">۲ مگابایت</span>
                                پذیرفته است.
                            </li>
                            <li>
                                پسوند تصویر یکی از انواع
                                <span class="text-danger">jpg</span>
                                ،<span class="text-danger">jpeg</span>
                                ،<span class="text-danger">png</span>
                                یا
                                <span class="text-danger">gif</span>
                                باشد.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3 text-end">
                    <label for="BookImage" class="post-image my-2 w-100 rounded border border-dark d-flex justify-content-center align-items-center bg-no-repeat bg-no-repeat js-book-image-preview"
                           style="background-image: @if (imagePath != null) { <text> url('@imagePath'),</text>} repeating-linear-gradient(-45deg, #fff, #fff 20px, #eee 20px, #eee 40px); background-size: contain; background-position: center; height: 150px;">
                        <span class="badge" style="background-color: rgba(0,0,0, 0.5);">محل نمایش تصویر</span>
                    </label>
                    <input name="BookImage" id="BookImage" type="file" class="d-none js-book-image" disabled>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="form-floating mb-3">
            <textarea class="form-control" asp-for="Description" style="height: 100px" placeholder="توضیحاتی بنویسید..." disabled></textarea>
            <label asp-for="Description"></label>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
    <div class="mb-2">
        <a href="#" class="btn btn-light border my-2 js-history-back">
            <i class="bi bi-arrow-right"></i>
            بازگشت
        </a>
        <a asp-controller="Books" asp-action="Index" class="btn btn-light border my-2">
            <i class="bi bi-list"></i>
        </a>
        <a asp-controller="Books" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success"><i class="bi bi-pen fs-6"></i></a>
        <form asp-controller="Books" asp-action="Delete" class="d-inline-block">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-danger">
                تایید و حذف دائمی
            </button>
        </form>
    </div>
</div>

