@using Mohkazv.Library.WebApp.Extensions
@model IEnumerable<Mohkazv.Library.WebApp.Models.Language>

@{
    ViewData["Title"] = "فهرست زبان‌ها";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a href="#" class="btn btn-light border my-2 js-history-back">
        <i class="bi bi-arrow-right"></i>
        بازگشت
    </a>
    <a asp-controller="Languages" asp-action="Create" class="btn btn-primary">افزودن زبان جدید</a>
</p>


@if (Model.Any())
{
    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th style="width: 35px;">ردیف</th>
                    <th>نام زبان</th>
                    <th class="text-muted small">عملیات‌ها</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int count = Model.Count();
                    for (var i = 0; i < count; i++)
                    {
                        var item = Model.ElementAt(i);
                        <tr>
                            <td class="text-center" style="width: 35px;">@((i+1).EnglishToPersian())</td>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                <a asp-controller="Languages" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-success lh-1" style="font-size:0 !important;">
                                    <i class="bi bi-pen fs-6"></i>
                                </a>
                                <a asp-controller="Languages" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger lh-1" style="font-size:0 !important;">
                                    <i class="bi bi-trash fs-6"></i>
                                </a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="alert alert-warning" role="alert">
        پس از
        <a asp-controller="Languages" asp-action="Create" class="btn btn-sm btn-primary">افزودن زبان</a>
        فهرستی از زبان‌ها را اینجا مشاهده خواهید کرد.
    </div>
}
